{% extends 'main/base.html' %}

{% block content %}
    <div class="sec-bg">

        {% include 'main/includes/header.html' with header_class="fixed-top header-scrolled" h="" %}

        <main id="main">

            <!-- ======= Contact Section ======= -->
            <section id="contact" class="contact-m">
                <div class="container">

                    <div class="sec-title" data-aos="fade-in" data-aos-delay="100">
                        <h2>Для дилерів</h2>
                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="100">
                        <div class="col-lg-6">
                            <div class="info-box mb-4">
                                <i class="bx bx-map"></i>
                                <h3>Наш адрес</h3>
                                <p>Україна, Івано-Франківська обл.,

                                    Рогатинський район,

                                    с. Лучинці</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="info-box  mb-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Напишіть нам</h3>
                                <p>on_ig@i.ua</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6">
                            <div class="info-box  mb-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Подзвоніть нам</h3>
                                <p>(03435) 34-555 |
                                    (03435) 34-545</p>
                            </div>
                        </div>

                    </div>

                    <div class="row" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-12">
                            <form action="{% url 'dilers' %}" method="POST" role="form" class="php-email-form">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" name="name" class="form-control" id="name"
                                               placeholder="Ваше ім'я / Компанія" data-rule="minlen:4"
                                               data-msg="Введіть Ваше ім'я / Компанія (мінімум 4)"/>
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="email" class="form-control" name="sender" id="email"
                                               placeholder="Ваш Email" data-rule="email" data-msg="Введіть email"/>
                                        <div class="validate"></div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" name="subject" id="subject"
                                               placeholder="Тема" data-rule="minlen:4"
                                               data-msg="Введіть тему (мінімум 4)"/>
                                        <div class="validate"></div>
                                    </div>
                                    <div class="col-md-6 form-group">
                                        <input type="text" class="form-control" name="phone" id="subject"
                                               placeholder="Телефон" data-rule="minlen:4"
                                               data-msg="Введіть правильний номер телефону"/>
                                        <div class="validate"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                <textarea class="form-control" name="message" rows="5" placeholder="Повідомлення"
                                          data-rule="minlen:4" data-msg="Напишіть щось"></textarea>
                                    <div class="validate"></div>
                                </div>
                                <div class="mb-3">
                                    <div class="loading">Завантаження</div>
                                    <div class="error-message">Помилка</div>
                                </div>
                                <div class="text-center">
                                    <button type="submit">Надіслати</button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </section><!-- End Contact Section -->

            <!--<section class="inner-page">
              <div class="container">
                <p>
                  Example inner page template
                </p>
              </div>
            </section>-->

        </main><!-- End #main -->
    </div>

    {% include 'main/includes/footer.html' %}


{% endblock %}