<!DOCTYPE html>
<html lang="en">
{% load static %}


<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Рогатинська</title>
  <meta name="description" content="Мінеральна вода Рогатинська, Ми, Aqua Fruit, Рогатинська джерельна, Рогатинська лікувальна, має природні антиоксидантні властивості і є унікальною за своїм хімічним складом, адже саме такою її створила природа.">
  <meta content="Рогатинська, Ми, Aqua Fruit, Рогатинська джерельна, Рогатинська лікувальна, вода, мінеральна, Рогатин, лікувальна" name="keywords">

  <!-- Favicons -->
  <link href="{% static "main/assets/img/MU_LOGO.png" %}" rel="icon">
  <link href="{% static "main/assets/img/MU_LOGO.png" %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static "main/assets/vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
  <link href="{% static "main/assets/vendor/icofont/icofont.min.css" %}" rel="stylesheet">
  <link href="{% static "main/assets/vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
  <link href="{% static "main/assets/vendor/venobox/venobox.css" %}" rel="stylesheet">
  <link href="{% static "main/assets/vendor/owl.carousel/assets/owl.carousel.min.css" %}" rel="stylesheet">
  <link href="{% static "main/assets/vendor/aos/aos.css" %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static "main/assets/css/style.css" %}" rel="stylesheet">

  <link rel="canonical" href="https://www.rohatynska.com/"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-177110308-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-177110308-1');
    </script>

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top header-transparent">
  <div class="container d-flex align-items-center">

    <div class="logo-h mr-auto">
{#      <h1 class="text-light"><a href="{% url 'home' %}"><span>Рогатинська</span></a></h1>#}
      <!-- Uncomment below if you prefer to use an image logo -->
      <a href="{% url 'home' %}"><img src="{% static "main/assets/img/MU_LOGO.png" %}" alt="" class="img-fluid" style="box-shadow: #ffffff"></a>
    </div>

    <nav class="nav-menu d-none d-lg-block">
      <ul>
<!--        <li><a href="#about">Про нас</a></li>-->
        <li><a href="#news">Новини</a></li>
        <li><a href="#services">Продукція</a></li>
          <li><a href="#about">Про нас</a></li>
        <li><a href="#cta">Для дилерів</a></li>
        <li><a href="#contact">Контакти</a></li>

      </ul>
    </nav><!-- .nav-menu -->

  </div>
</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
{% for obj in img %}
  {% if obj.status %}
    <style type="text/css">
      #hero {
        width: 100%;
        height: 100vh;
        background: url("{{ obj.image.url }}") top center;
        background-size: cover;
        position: relative;
        margin-bottom: -90px;
      }
    </style>
  {% endif %}
{% endfor %}

<section id="hero">
  <div class="hero-container" data-aos="fade-up">
    <h1>РОГАТИНСЬКА</h1>
    <h2>Вода для всієї сім'ї.</h2>
    <a href="#news" class="btn-get-started scrollto"><i class="bx bx-chevrons-down"></i></a>
  </div>
</section><!-- End Hero -->

  <main id="main">

    <!-- ======= News Section ======= -->
    <section id="news" class="team">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Новини</h2>
        </div>
        <div class="row">
            {% for post in news %}
          <div class="col-lg-4 col-md-6 cart">
            <div class="member" data-aos="fade-up">
              <div class="pic"><img src="{{ post.images.first }}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>{{ post.title }}</h4>
                <span>{{ post.description }}</span>
                <div class="social">
                  <a href="{% url 'news-detail' post.id  %}" class="about-btn">Детальніше <i class="bx bx-chevron-right"></i></a>
                </div>
              </div>
            </div>

          </div>
            {% endfor %}
        </div>

        <div class="content">
          <a href="{% url 'news' %}" class="about-btn">Більше новин <i class="bx bx-chevron-right"></i></a>
        </div>

      </div>
    </section><!-- End News Section -->

<!-- ======= Production Section ======= -->
    <section id="services" class="services sec-bg">
      <div class="container">

        <div class="sec-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Продукція</h2>
        </div>

        <div class="row ser">

<!--          <div class="col-md-1 col-lg-1 align-items-stretch mb-5 mb-lg-0"></div>-->

        <div class="col-md-6 col-lg-2 align-items-stretch mb-5 mb-lg-0">

            <div class="icon-box" data-aos="fade-up">
              <h4 class="title">Роксолана</h4>
            </div>

          </div>

          <div class="col-md-6 col-lg-2 align-items-stretch mb-5 mb-lg-0">

            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <h4 class="title">МИ</h4>
            </div>

          </div>

          <div class="col-md-6 col-lg-2 align-items-stretch mb-5 mb-lg-0">

            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <h4 class="title">Aqua Fruit</h4>
            </div>

          </div>

          <div class="col-md-6 col-lg-2 align-items-stretch mb-5 mb-lg-0">

              <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                <h4 class="title">Aqua Daily</h4>
              </div>

          </div>

          <div class="col-md-6 col-lg-2 align-items-stretch mb-5 mb-lg-0">

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title">Джерельна</h4>
            </div>

          </div>

          <div class="col-md-6 col-lg-2 align-items-stretch mb-5 mb-lg-0">

            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <h4 class="title">Лікувальна</h4>
            </div>

          </div>

<!--          <div class="col-md-1 col-lg-1 align-items-stretch mb-5 mb-lg-0"></div>-->

        </div>
        <div class="content"  data-aos="fade-in" data-aos-delay="100">
          <a href="{% url 'portfolio' %}" class="port-btn">Вся продукція <i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
    </section><!-- End Production Section -->

      <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch" data-aos="fade-up">
            <div class="content">
              <h3>Які властивості має мінеральна вода «Рогатинська»?</h3>
              <p>
                Мінеральна вода «Рогатинська», має природні антиоксидантні властивості і є унікальною за своїм хімічним складом, адже саме такою її створила природа.
              </p>
<!--              <a href="#" class="about-btn">About us <i class="bx bx-chevron-right"></i></a>-->
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-water"></i>
                  <p>Покращується жовчоутворювальна функцiя печiнки, стимулюються процеси сечоутворення, активiзується iоновивiдна функцiя нирок, зростає активнiсть шлунково-кишкового тракту</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-check-circle"></i>
                  <p>Містить селен, який знешкоджує найнебезпечнiшi вiльнi радикали. Перешкоджає утворенню пухлин, нiвелює дiю токсичних елементiв, сприяє виведенню з органiзму важких металiв, нормалiзує дiяльнiсть серцево-судинної системи</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bx bx-droplet"></i>
                  <p>Призводить до збiльшення гемоглобiну в кровi, що стимулює процеси обмiну, енергетичний баланс, підсилює захисні властивості організму, це обумовлено підвищеним рівнем сполук до складу яких входять залізо, магній, мідь</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-happy"></i>
                  <p>Має заспокійливу дію на нервову систему, допомагає при стресах i перевтомi</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container" data-aos="zoom-in">

        <div class="text-center">
          <h3>Для дилерів</h3>
{#          <p> текст</p>#}
          <a class="cta-btn" href="{% url 'dilers' %}">Зв'язатись з нами</a>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-in" data-aos-delay="100">
          <h2>Контакти</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-6">
            <div class="info-box mb-4">
              <i class="bx bx-map"></i>
              <h3>Наша адреса</h3>
              <p>Україна, Івано-Франківська обл.,

                Рогатинський район,

                с. Лучинці</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-envelope"></i>
              <h3>Напишіть нам</h3>
              <p>on_ig@i.ua</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="info-box  mb-4">
              <i class="bx bx-phone-call"></i>
              <h3>Подзвоніть нам</h3>
              <p>(03435) 34-555  |  (03435) 34-545</p>
            </div>
          </div>

        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">

          <div class="col-lg-12 ">
            <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d41586.27043741185!2d24.60680618205875!3d49.349462710565575!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47307d8fa53ee167%3A0xe5666dbdab44bb9a!2z0JvRg9GH0LjQvdGG0ZYsINCG0LLQsNC90L4t0KTRgNCw0L3QutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNzcwNDY!5e0!3m2!1suk!2sua!4v1594288195772!5m2!1suk!2sua" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
              <h3>Рогатинська</h3>
<!--              <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>-->
              <p>
                Україна, Івано-Франківська обл., <br>
                Рогатинський район,

                с. Лучинці<br><br>
                <strong>Телефони:</strong> (03435) 34-555  |  (03435) 34-545<br>
                <strong>Email:</strong> on_ig@i.ua<br>
              </p>
              <div class="social-links mt-3">
{#              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>#}
              <a href="https://www.facebook.com/ТМ-Рогатинська-103493604569038" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://instagram.com/voda_rohatynska?igshid=8nritntkyv23" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
              {% comment %}<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endcomment %}
            </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
            <h4>Корисні посилання</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#news">Новини</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#services">Продукція</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">Про нас</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#cta">Для дилерів</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#contact">Контакти</a></li>
            </ul>
          </div>

            <div class="col-lg-5 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150" >
                <img src="{% static "main/assets/img/MU_LOGO.png" %}" alt="" class="img-fluid" style="box-shadow: #ffffff">
            </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
      </div>
      <div class="credits">
        Designed by <a href="">STN</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static "main/assets/vendor/jquery/jquery.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/jquery.easing/jquery.easing.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/php-email-form/validate.js" %}"></script>
  <script src="{% static "main/assets/vendor/waypoints/jquery.waypoints.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/counterup/counterup.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/venobox/venobox.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/owl.carousel/owl.carousel.min.js" %}"></script>
  <script src="{% static "main/assets/vendor/aos/aos.js" %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static "main/assets/js/main.js" %}"></script>

</body>

</html>