{% load static %}

<!-- ======= Footer ======= -->

<footer id="footer">
<div class="footer-top">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6">
        <div class="footer-info" data-aos="fade-up" data-aos-delay="50">
          <h3>Рогатинська</h3>
<!--              <p class="pb-3"><em>Qui repudiandae et eum dolores alias sed ea. Qui suscipit veniam excepturi quod.</em></p>-->
          <p>
            Україна, Івано-Франківська обл., <br>
            Рогатинський район,

            с. Лучинці<br><br>
            <strong>Телефони:</strong> (03435) 34-555  |  (03435) 34-545<br>
            <strong>Email:</strong> on_ig@i.ua<br>
          </p>
          <div class="social-links mt-3">
{#              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>#}
          <a href="https://www.facebook.com/ТМ-Рогатинська-103493604569038" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://instagram.com/voda_rohatynska?igshid=8nritntkyv23" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
          {% comment %}<a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>{% endcomment %}
        </div>
        </div>
      </div>

      <div class="col-lg-2 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150">
        <h4>Корисні посилання</h4>
        <ul>
          <li><i class="bx bx-chevron-right"></i> <a href="#news">Новини</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#services">Продукція</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#about">Про нас</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#cta">Для дилерів</a></li>
          <li><i class="bx bx-chevron-right"></i> <a href="#contact">Контакти</a></li>
        </ul>
      </div>

        <div class="col-lg-5 col-md-6 footer-links" data-aos="fade-up" data-aos-delay="150" >
            <img src="{% static "main/assets/img/MU_LOGO.png" %}" alt="" class="img-fluid" style="box-shadow: #ffffff">
        </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="copyright">
  </div>
  <div class="credits">
    Designed by <a href="">STN</a>
  </div>
</div>
</footer>
<!-- End Footer -->